body {
    background-image: url('roasted-coffee-beans-from-sack-in-symbol-heart-shape-on-rustic-wooden-background_t20_pxoE0P.comp.jpg');
    background-size: cover;
}  
.container-1 {
    border: 1px solid black;
    margin: 0 auto;
    width: 100%;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    padding: 2px;
}
.form div {
    flex-grow: 2;
    border: none;
}
.form div:focus {
    outline: none;
}
.flex-box-container-1 {
    border: 1px solid black;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

} 
 /*.titleRow {
    border: 1px solid black;
    margin: 0 auto;
    padding: 0px;
    align-items: center;
    text-align: center;
} */

 #searchButton {
    float: right;
} 
.card-items {
    padding: 5px
    !important
}
.row {
    margin-bottom: 0px
    !important
}
/*.theMap {
    float: left;
    border: 1px black solid;
    height: 100%;
    width: 65.5%;
}
/* .mini-container-1 {
    border: 1px solid black;
    margin: 0 auto;
    padding: 0px;
    align-items: center;
    
} */
/* .mini-container-2 {
    border: 1px solid black;
    margin: 0 auto;
    padding: 10px;
    align-items: center;
} */
/* .flex-box-container-1 div {
    padding: 10px;
    border: 1px solid black;
    margin: 0 auto;
    align-items: center;
    display: flex;
} */
/* .flex-box-container p {
    border: 1px solid black;
    align-items: center;
} */
 /*#coffeeColumn {
    border: 1px solid black;
    font-size: small;
}
#theMap {
    border: 1px solid black;

}
/* .mapColumn {
        font-size: small;
        border: 1px solid black;
        margin: 0 auto;
        padding: 10px;
        align-items: center;
        
    }*/